<div data-ng-controller="addStockTracker as vm">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-ng-click="cancel()">&times;</button>
        <h3>{{title}}</h3>
    </div>
    <form name="addStockTrackerForm" novalidate>
        <div class="modal-body">
            <input type="text" required autofocus name="newStockTrackerName" ng-model="newStockTrackerName" />
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" data-ng-click="ok(addStockTrackerForm)" ng-disabled="!addStockTrackerForm.$valid">{{saveText}}</button>
            <button class="btn btn-info" data-ng-click="cancel()">{{cancelText}}</button>
        </div>
    </form>
</div>