<section class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2" data-ng-controller="landingpage as vm">
    <div class="container-fluid">
        <div class="row jumbotron center-block">
            <h1 class="text-center">Welcome to the wonderful world of the STOCKS TRACKER!!</h1>
        </div>
        <div data-ng-show="vm.showLogin">
            <div class="row">
                <div class="col-md-4">
                    <h2>Login</h2>
                    <p class="text-primary">
                        For existing users, login with your user name and password.
                    </p>
                    <a class="btn btn-info" href="#/login" role="button">Login »</a>
                </div>
                <div class="col-md-4">
                    <h2>Register</h2>
                    <p class="text-primary">
                        The Register button will help you create a new user account.
                    </p>
                    <a class="btn btn-info" href="#/register" role="button">Register »</a>
                </div>
            </div>
        </div>
    </div>
</section>