<section class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2" ng-cloak>
  <form class="form-horizontal"
        name="registrationForm"
        novalidate
        data-ng-controller="register as vm"
        role="form">

    <fieldset>

      <legend>Register</legend>

      <div ng-if="vm.alertType() == 'success'"><alert type="success">{{vm.message}}</alert></div>
      <div ng-if="vm.alertType() == 'danger'"><alert type="danger">{{vm.message}}</alert></div> 

      <div class="form-group"
           ng-class="{'has-error': registrationForm.userName.$invalid && registrationForm.userName.dirty}">

        <label class="col-md-2 control-label" for="userName">
          User Name
        </label>

        <div class="col-md-4">
          <input class="form-control"
                 id="userName"
                 name="userName"
                 type="text"
                 placeholder="User Name (required)"
                 autofocus
                 ng-model="vm.registrationData.userName"
                 required
                 ng-minlength="2"
                 ng-maxlength="12" />
        </div>
        <span class="help-block has-error">
          <span ng-show="registrationForm.userName.$error.required">
            User Name is required.
          </span>
          <span ng-show="registrationForm.userName.$error.minlength">
            User Name must be at least 2 characters in length.
          </span>
          <span ng-show="registrationForm.userName.$error.maxlength">
            User Name cannot exceed 12 characters in length.
          </span>
        </span>

      </div>

      <div class="form-group"
           ng-class="{'has-error': registrationForm.password.$invalid
                 && registrationForm.password.dirty}">

        <label class="col-md-2 control-label" for="password">
          Password
        </label>

        <div class="col-md-4">
          <input class="form-control"
                 id="password"
                 name="password"
                 type="password"
                 placeholder="Password (required)"
                 ng-model="vm.registrationData.password"
                 required
                 ng-minlength="6"
                 ng-maxlength="20" />
        </div>
        <span class="help-block has-error">
          <span ng-show="registrationForm.password.$error.required">
            Password is required.
          </span>
          <span ng-show="registrationForm.password.$error.minlength">
            Password must be at least 6 characters in length.
          </span>
          <span ng-show="registrationForm.password.$error.maxlength">
            Password cannot exceed 20 characters in length.
          </span>
        </span>

      </div>

      <div class="form-group"
           ng-class="{'has-error': registrationForm.confirmPassword.$invalid
                 && registrationForm.confirmPassword.dirty && registrationForm.confirmPassword !== registrationForm.password}">

        <label class="col-md-2 control-label" for="confirmPassword">
          Confirm Password
        </label>

        <div class="col-md-4">
          <input class="form-control"
                 id="confirmPassword"
                 name="confirmPassword"
                 type="password"
                 placeholder="Confirm Password (required)"
                 ng-model="vm.registrationData.confirmPassword"
                 required
                 ng-minlength="6"
                 ng-maxlength="20" />
        </div>
        <span class="help-block has-error">
          <span ng-show="registrationForm.confirmPassword.$error.required">
            Confirm Password is required.
          </span>
          <span ng-show="registrationForm.confirmPassword.$error.minlength">
            Confirm Password must be at least 6 characters in length.
          </span>
          <span ng-show="registrationForm.confirmPassword.$error.maxlength">
            Confirm Password cannot exceed 20 characters in length.
          </span>
        </span>

      </div>

      <div class="form-group">
        <div class="col-md-4 col-md-offset-2">
          <span>
            <button class="btn btn-primary"
                    style="width:80px;margin-right:10px"
                    ng-click="vm.submit()"
                    ng-disabled="registrationForm.$invalid">
              Register
            </button>
          </span>
          <span>
            <button class="btn btn-default"
                    style="width:70px"
                    ng-click="vm.cancel(registrationForm)">
              Cancel
            </button>
          </span>
        </div>
      </div>     

    </fieldset>
 
  </form>
</section>